.example-button {
  background-color: #fff;
  color: #b3b3b3;
  border: 2.5px solid #b3b3b3;
  padding: 10px 20px;
  margin: 0 auto;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  align-items: center;
  transition: all 0.18s ease;
  svg {
    transform: scale(0.8);
    pointer-events: none;
    object-fit: cover;
    margin-left: 5px;
  }
  use {
    fill: #b3b3b3;
    transition: fill 0.18s ease;
  }
  &:hover {
    color: #6f3bff;
    border-color: #6f3bff;
    use {
      fill: #6f3bff;
    }
  }
}

.card-container {
  background-color: #fff;
  padding: 30px 20px;
  margin: 40px auto;
  width: 350px;
  height: auto;
  border: 3px solid transparent;
  border-image: linear-gradient(45deg, rgba(45,70,253,1) 0%, rgba(131,34,195,1) 100%) 30 stretch;
  box-sizing: border-box;
}

h1, h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 1.2em;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  min-height: 100vh;
  height: 100%;
}

body {
  background-color: #c0dbff;
  padding: 0;
  margin: 0;
}

* {
  font-family: "Poppins", sans-serif;
}
